# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folders
.vs/

# Logs
*.log

# NuGet packages
*.nupkg
packages/

# Rider IDE
.idea/

# DotCover
*.dotCover

# Resharper
*.ReSharper
_ReSharper*/
*.DotSettings.user

# Others
*.DS_Store
